.App {
  text-align: center;
}

.header {
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 8.5vmin;
  min-height: 10vmin;
  box-shadow: 0px 1px 5px 2px rgb(226, 226, 226);
  justify-content: center;
  display: flex;

}

.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.chatbox {
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 5vmin;
  /* box-shadow: 0px 1px 50px 1px rgb(226, 226, 226); */
}

